{% extends 'core/base.html' %}
{% load static %}
{% block content %}


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Noticias</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12">
            <div class="centrarImg">
              <img src="{% if news.imageNews.url != null %}
              {{ news.imageNews.url }}
              {% endif %}" class="img-fluid" alt="">
            </div>
            <h3>{{news.title}}</h3>
            <p>
              {{object.content|safe}}
            </p>
          </div>
          <!-- <div class="col-lg-4"> 
            ACA PODRIA PONER ALGO AL COSTADO
          </div> -->
        </div>

      </div>
    </section><!-- End Cource Details Section -->


  </main><!-- End #main -->
  {% endblock %}
