{% extends 'core/base.html' %}
{% load static %}
{% block content %}

 
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="{% url 'carreras:carreras_list' %}" target="_blank">
          <img src="{% static 'core/img/1 carrousel 2668x1201-05.png' %}" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item">
        <a href="{% url 'carreras:carreras_list' %}" target="_blank">
          <img src="{% static 'core/img/2 carrousel 2668x1201-05-06.png' %}"  class="d-block w-100" alt="..." >
        </a>
      </div>
      <div class="carousel-item">
        <a href="{% url 'carreras:carreras_list' %}" target="_blank">
          <img src="{% static 'core/img/3 carrousel 2668x1201-07.png' %}" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item">
        <a href="{% url 'carreras:carreras_list' %}" target="_blank">
          <img src="{% static 'core/img/4 carrousel 2668x1201-08.png' %}" class="d-block w-100" alt="...">
        </a>
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <main id="main">
    
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <a href="{% url 'news:news_list' %}"><p>Noticias</p></a>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          {% load news_extras %}
          {% get_news_list as news_list %}
          {% for news in news_list|slice:3 %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{% if news.imageNews.url != null %}
              {{ news.imageNews.url }}
              {% endif %}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>{{ news.categoriesNews.first.name }}</h4>
                </div>

                <h3><a href="{% url 'news:news' news.id news.title|slugify %}">{{news.title}}</a></h3>
              </div>
            </div>
          </div>
          {% endfor %}


        </div>

      </div>
    </section>



    

    

    <!-- ======= Carreras Section ======= -->
    
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <a href="{% url 'carreras:carreras_list' %}"><p>Carreras</p></a>
        </div>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="iconify" data-icon="fa-solid:theater-masks" data-width="42" data-height="32" style="color: #bf811c;"></i>
              <h3><a href="{% url 'carreras:carrera' '11' 'tecnicatura-actuacion-teatral' %}">Técnico en Actuación Teatral</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="iconify" data-icon="fa:music" data-width="42" data-height="32" style="color: #d42e29;"></i>
              <h3><a href="">Profesorados y Tecnicaturas Música</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="iconify" data-icon="emojione-monotone:artist-palette" data-width="42" data-height="32" style="color: #703a85;"></i>
              <h3><a href="{% url 'carreras:carrera' '5' 'profesorado-educacion-musical' %}">Profesorado en Artes Visuales</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="iconify" data-icon="fluent:draw-image-20-filled" data-width="42" data-height="32" style="color: #3b805a;"></i>
              <h3><a href="{% url 'carreras:carrera' '3' 'tecnicatura-disenio-grafico' %}">Técnico y Diseño Gráfico</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="iconify" data-icon="mdi:dance-ballroom" data-width="42" data-height="32" style="color: #265e6b;"></i>
              <h3><a href="{% url 'carreras:carrera' '10' 'profesorado-danzas-folkloricas' %}">Profesorado de Danzas Folklóricas</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="iconify" data-icon="fluent:draw-text-24-regular" data-width="42" data-height="32" style="color: #716247;"></i>
              <h3><a href="{% url 'carreras:carrera' '4' 'tecnicatura-ilustracion' %}">Técnico e Ilustrador Profesional</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="iconify" data-icon="material-symbols:potted-plant" data-width="42" data-height="32" style="color: #bf811c;"></i>
              <h3><a href="{% url 'carreras:carrera' '2' 'profesorado-ceramica' %}">Profesorado de Cerámica</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="iconify" data-icon="raphael:pallete" data-width="42" data-height="32" style="color: #d60b52;"></i>
              <h3><a href="{% url 'pages:page' '21' 'Autoridades' %}">Arte Infantil y Juvenil</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Carreras Section -->


<!-- ======= Contacto Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <iframe style="border:0; width: 100%; height: 250px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7362.00899073505!2d-58.25793488713208!3d-34.72025483149766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32e4097c35843%3A0x9547d48d3d26d38e!2sSarmiento%20625%2C%20Quilmes%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1658408023562!5m2!1ses!2sar" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" allowfullscreen=""></iframe>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p>
              <strong><b>Dirección:</strong></b> Sarmiento 625, Quilmes, Provincia de Buenos Aires.
            </p>
            <p>
              <strong>Código Postal</strong>: 1878.
            </p>
            <p>
              <strong>Medios de Transporte: </strong>
            </p>
            <p>
              Colectivos: Línea 85, 98, 159, 219, 257, 324.
            </p>
            <p>
              Tren: Estación Bernal, Línea General Roca
            </p>
            <p>
              <strong>Formulario de Contacto:</strong>  <a href="https://bit.ly/ContactoEmba">https://bit.ly/ContactoEmba</a>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Contacto Section -->
   

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  {% endblock %}