{% extends 'core/base.html' %}
{% load static %}
{% block content %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->    
    <div class="breadcrumscarrera">
      <div class="container">
        <div class="row">
          {%if carrera.bannerCarrera.url != null %}
          <img src="{{ carrera.bannerCarrera.url }}" class="img-fluid" alt="...">
          {%endif%}
          <div class="col-xs-12 col-sm-6 col-md-4 colcarrera">
            <h3></h3>
            <p>{{carrera.content|safe}}
            </p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 colcarrera">
            <h3>Turnos</h3>
            <p>{{carrera.turnos|safe}}
            </p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 colcarrera">
            <h3>Plan de Materias</h3>
            <a href="{{carrera.linkPlanMaterias}}" target="_blank" class="btnPlanCarrera"><p>{{carrera.planMaterias}}</p></a>
            <br>
            <a href="{{carrera.linkRegimenCursada}}" target="_blank" class="btnRegimenCarrera">Ver régimen de cursada</a>
          </div>
        </div>
      </div>
    </div>




  </main><!-- End #main -->
  {% endblock %}